@{
    ViewData["Title"] = "Description";
    Layout = "_LayoutDescription";
}


<div class="container center-body text-light" style="font-family: inherit;">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h1 class="text-center mb-4">Descrição</h1>
            <p>
                Após uma análise profunda a respeito da insegurança alimentar e desperdício de alimentos que ocorre em todo o território global, foi idealizado um
                projeto que tem a intenção de ajudar a todas as pessoas que sofrem em condições de má nutrição, subnutrição ou fome.
                Este projeto é o “CULTIVA – Comunidade da Horta”. Inspirado em projetos de hortas comunitárias que existem pelo Brasil, o aplicativo CULTIVA tem
                como objetivo ajudar na distribuição de suprimentos entre pessoas comuns, que tentam cultivar seus próprios alimentos em casa. A ideia não objetiva a
                monetização das plantações domésticas, muito pelo contrário, cria uma comunidade de troca onde todos podem ajudar e se beneficiar. <br /><br />
                A partir de uma aplicação WEB e Mobile, os usuários podem divulgar seus plantios, solicitar trocas de alimentos de sua horta com outros
                cultivadores e o mais importante: realizar trocas de alimentos por matéria orgânica de compostagem (ou seja, restos de alimentos), que vão contribuir para
                o crescimento de suas plantações. Ao aceitar essa troca, o cultivador dá uma determinada quantidade de seus alimentos para o doador de adubo, e recebe
                os suprimentos necessários para fazer seus cultivos crescerem. <br /><br />
                Existem alguns requisitos que a horta doméstica deve cumprir para que o cultivador possa cadastrá-la na comunidade: <br /><br />
                • Não usar insumos químicos e venenos. <br />
                • Cultivar com base nos princípios da permacultura e da agroecologia, respeitando a natureza. <br /><br />
                Essas exigências e a penalização para plantios de cultivadores que fujam dessas obrigações, estarão presentes nos Termos de Uso da aplicação.
                Nesse sistema de troca, o benefício é mútuo. O objetivo do CULTIVA é criar uma comunidade que esteja disposta a ajudar e transformar a vida de
                outras pessoas, melhorando a saúde alimentar dos cidadãos. Dessa forma, podemos diminuir o desperdício e insuficiência de alimentos presente na vida de
                grande parte da população.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>