@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center center-body">
    <div>
        <h1 style="font-weight: 300; font-family: revert;" class="text-white"><ins>C U L T I V A</ins></h1>
        <p class="text-white">C o m u n i d a d e <br />d a<br />h o r t a</p>
    </div>
    <div class="mb-3">
        <a asp-action="ValidarUsuario" asp-controller="Usuario" class="btn btn-outline-light">ENTRAR</a>
    </div>
    <div>
        <a asp-action="CadastrarUsuario" asp-controller="Usuario" class="text-light">CADASTRAR-SE</a>
    </div>
</div>